@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/* 글씨체 적용하기 */
*:not(.glyphicon):not(.fa) { /* 아이콘 제외 */
    font-family: 'Spoqa Han Sans', 'Sans-serif' !important;
}

/* 스크롤 바 숨기기 */
::-webkit-scrollbar { 
    display: none; 
}

/* 메뉴 바 배경색 */
.navbar-static-top {
    background: #4d4d4d !important;
}
.navbar-static-top * {
    color: white !important;
}

/* 전체 배경색 */
#frmBenedu *:nth-child(9) {
/* 이거 선택 다르게 하는 방법 좀 구해 봐야겠다. */
    background-color: rgb(21, 21, 21) !important;
}

/* 로고 숨기기 */ 
.navbar-brand img {
    display: none;
}
.navbar-brand {
    /* 로고 부분의 초록색 배경 색 지우기 */
    background-color: unset !important;
    /* 글씨 키우기 */
    font-size: 2.2em;
    /* padding 조절하기 */
    padding: 0 !important;
    padding-left: 0.5em !important;
    padding-top: 0.45em !important;
}
.navbar-brand:before {
    /* 브랜드 그리기 */
    content: "우월한 베네듀";
    letter-spacing: -1px;
    font-weight: 300;
}

/* 광고 같은 공지사항 안 보이게 하기 */
#myCarousel {
    display: none;
}

/* 메뉴 바 오른쪽으로 정렬 */
.navbar-nav:first-of-type {
    float: right;
}

/* 프로필 메뉴 왼쪽으로 정렬 */
.navbar-custom-menu {
    float: left;
}

/* 상단 메뉴 드롭다운 */
.dropdown,
#mnu05StdNotice {
    font-size: 1.2em;
}

.dropdown-menu {
    /* 상단 메뉴 호버링 시 나타나는 세부 드롭다운 리스트에 그림자 주기 */
    box-shadow: 0 16px 36px -12px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(30, 30, 30);
}

.dropdown-menu li:hover {
    /* 이거 왜 안됨 */
    background-color: rgb(50, 50, 50) !important;
}

/* 박스 스타일 */
.box {
    background: linear-gradient(rgb(36, 36, 36) 0%, rgb(31, 31, 31) 100%);
    color: white;
}
